body {
  font-family: 'Montserrat', sans-serif;
}

.form > label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 72px;
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
}
.form > label > input:hover {
  border: 1px solid #000;
}
button {
  font: 500 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;
}
button:hover {
  background: #6c8cff;
}
fieldset {
  width: 360px;
  height: 78px;
  margin-bottom: 24px;
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 48px;
}
.fieldset input {
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.fieldset label {
}
